
@media only screen and (max-width: 600px) {
  .App {
    width: 600px;
  }
  .header,.features,.Testimonial,.footer_nav,.footer_bottom {
    margin-left: 220px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
    width: 600px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    width: 768px;
  }
  .header,.features,.Testimonial,.footer_nav,.footer_bottom {
    margin-left: 230px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    width: 992px;
  }
  .header,.features,.Testimonial,.footer_nav,.footer_bottom {
    margin-left: 300px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    width: 1920px;
  }
}